-e git+https://github.com/makinacorpus/cornice.git@request-data-extractors#egg=cornice
pyramid==1.5a2
icalendar
fanstatic==0.16
pyramid_formalchemy
pyramid_fanstatic
fa.jquery
pyramid_chameleon
pyramid_debugtoolbar
pyramid_tm
SQLAlchemy
transaction
zope.sqlalchemy
waitress
colander==1.0b1
requests
webtest
psycopg2
