-e git+https://github.com/makinacorpus/colander.git@asdict-i18n#egg=colander
-e git+https://github.com/makinacorpus/cornice.git@colander-i18n#egg=cornice
pyramid==1.5a2
icalendar
fanstatic==0.16
pyramid_formalchemy
pyramid_fanstatic
fa.jquery
pyramid_chameleon
pyramid_debugtoolbar
pyramid_tm
SQLAlchemy
transaction
zope.sqlalchemy
waitress
requests
webtest
psycopg2
Babel
lingua
